{% include 'partials/head.liquid' %}

<div class="popup visually-hidden">
  <p>Gift saved!</p>
  <button class="close-button"><img src="/assets/images/close-icon.svg" alt=""></button>
</div>


<h1 class="overview-header">I'm looking for a gift for... <span>my uncle</h1>
<div class="ribbon-container">
  <img src="/assets/images/ribbon.svg" alt="">
  <div class="ribbon-line"></div>
</div>

<section class="gifts-overview">
  {% for product in products %}
    {% if product.amount != '0.00' %}
      <article class="gift">
        <form method="post" action="/">
          {% if likedGifts contains product.id %}
            <button class="save-button" type="submit" name="id" value="{{ product.id }}">
              <img src="/assets/images/black-saved-icon.svg" alt="">
            </button>
          {% else %}
            <button class="save-button" type="submit" name="id" value="{{ product.id }}">
              <img src="/assets/images/black-save-icon.svg" alt="">
            </button>
          {% endif %}
        </form>
        <a href="/gift/{{ product.slug }}">
          <img class="product-image" src="{{ product.image }}" alt="">
          <h2 class="product-name">{{ product.name }}</h2>
          <p class="product-price">€{{ product.amount }}</p>
        </a>
      </article>
    {% endif %}
  {% endfor %}
</section>

<aside class="chatbot">
  <div class="input-container">
    <button class="mic-button"><img src="/assets/images/mic-icon.svg" alt=""></button>
    <input type="text" placeholder="Type your message...">
    <button class="search-button"><img src="/assets/images/search-icon.svg" alt=""></button>
  </div>
</aside>

{% include 'partials/foot.liquid' %}
