{% include 'partials/head.liquid' %}

<h1 class="wishlist-header">Wishlist</h1>

<div class="ribbon-container">
  <img src="/assets/images/ribbon.svg" alt="">
  <div class="ribbon-line"></div>
</div>

<section class="gifts-overview">
  <h2 class="display-none">Gifts</h2>
  {% for likedProduct in likedProducts reversed %}
    {% assign product = likedProduct.milledoni_products_id %}
    <article class="gift">
      <form method="post" action="/">
        <button class="save-button" type="submit" name="id" value="{{ product.id }}">
          <img src="/assets/images/black-saved-icon.svg" alt="">
        </button>
      </form>
      <a href="/gift/{{ product.slug }}">
        <img class="product-image" src="{{ product.image }}" alt="">
        <h3 class="product-name">{{ product.name }}</h3>
        <p class="product-price">€{{ product.amount }}</p>
      </a>
    </article>
  {% endfor %}
</section>

{% include 'partials/foot.liquid' %}
